::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.movies__container {
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  align-items: center;
  .movie__item {
    p {
      display: none;
    }
    h2 {
      display: none;
    }
    img {
      border-radius: 5px;
      object-fit: cover;
      height: 140px;
      width: 250px;
      margin: 3px;
      transition: 0.2s 0.05s;
    }
  }
}
