::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.movies__container {
  transition: 0.7s ease-in-out;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.movie__item {
  .movie__item__play {
    position: absolute;
    opacity: 0;
    bottom: 0;
    transition: 0.2s;
    transition-delay: 0.3s;
    font-size: 30px;
  }
  h2 {
    opacity: 0;
    bottom: 0;
    position: absolute;
    transition: 0.2s;
    transition-delay: 0.3s;
    width: 240px;
    text-align: left;
    font-size: 15px;
  }
  img {
    border-radius: 5px;
    object-fit: cover;
    height: 140px;
    width: 250px;
    margin: 3px;
    transition: 0.2s ease-in-out;
    transition-delay: 0.3s;
  }
  &:hover {
    cursor: pointer;
    img {
      transform: translateY(-80px);
    }
    h2 {
      transform: translateY(-50px);
      opacity: 1;
    }
    .movie__item__play {
      transform: translateY(-95px);
      opacity: 1;
    }
  }
}
